---
import Alpine from 'alpinejs';
---
<nav class="navbar navbar-expand-lg navbar-light bg-light" x-data="{ open: false }">
  <a class="navbar-brand" href="/">Astro Project</a>
  <button class="navbar-toggler" type="button" x-on:click="open = !open">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" :class="{ 'show': open }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/page1">Page 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/page2">Page 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/page3">Page 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/page4">Page 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/page5">Page 5</a>
      </li>
    </ul>
  </div>
</nav>
